<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrinityCore_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrinityCore_Manager.Properties.Settings>
            <setting name="trunkLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="raHost" serializeAs="String">
                <value />
            </setting>
            <setting name="raUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="raPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="raPort" serializeAs="String">
                <value>3443</value>
            </setting>
            <setting name="raEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="worldAutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trinityFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="raAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MySQLHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MySQLUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthDB" serializeAs="String">
                <value />
            </setting>
            <setting name="CharactersDB" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldDB" serializeAs="String">
                <value />
            </setting>
            <setting name="trinityCoreCompilePlatform" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartAttempts" serializeAs="String">
                <value>1</value>
            </setting>
        </TrinityCore_Manager.Properties.Settings>
    </userSettings>
</configuration>